/* styles.css */
* {
    font-family: sans-serif;
}
body {
    background-color: rgb(68, 68, 149);
    color: white;
}

.newTodo {
    color: rgb(235, 174, 174);
}

.new-project {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0.2rem;
}

.new-project-form {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.project-element:hover {
    cursor: pointer;
}

.project-list > .project-element:last-child > span {
    color: red;
}

.foot {
    background-color: yellow;
    height: 150px;
}

.toolTip {
    position: relative;
    /* display: inline-block; */
}

.toolTip .toolTipText {
    visibility: hidden;
    color: black;
    font-weight: bolder;
    position: absolute;
    left: 3rem;
    bottom: 0.1rem;
    background-color: white;
    padding: 0.2rem;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}

.toolTipText {
    opacity: 1;
    transition:  opacity 0.3s ease;
}

.toolTipText.fade-out {
    opacity: 0;
}

.sortBtn {
    margin-bottom: 0.2rem;
}
